@font-face {
  font-family: Gilroy-Bold;
  src: url(/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-Regular;
  src: url(/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url(/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: lq;
  src: url(/fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.ttf);
}
@font-face {
  font-family: kg;
  src: url(/fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
}
*::selection {
  color: black;
  background-color: rgb(255, 255, 255);
}

#main {
  width: 100%;
  min-height: 100vh;
  /* background-color: ; */
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 20vh;
  background-color: #121111;
}

#logo {
  width: 50px;
}

#logo img {
  width: 100%;
}

#right {
  display: flex;
  gap: 3.5vw;
}

#right a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25vw;
  font-family: Gilroy-Bold;
  cursor: pointer;
}

#page-1 {
  width: 100%;
  height: 79.5vh;
  background-color: #121111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5vw;
  text-align: center;
}

#page-1 h1 {
  font-size: 6.8vw;
  line-height: 1.25;
  letter-spacing: -1px;
  font-family: Gilroy-Medium;
}

#page-1 p {
  font-size: 2vw;
  font-family: Gilroy-bold;
}

.btn {
  padding: 1.25vw 4vw;
  border: none;
  font-size: 1.5vw;
  font-family: Gilroy-bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  border: 1px solid rgb(255, 255, 255);
}

.btn:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: #fff;
}

#page-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url(/images/video-bg-mobile.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#page-2 img {
  height: 90vh;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#page-2 #three {
  position: absolute;
  bottom: -50vh;
  z-index: 15;
}
#two {
  position: absolute;
  bottom: -50vh;
  left: 30%;
}
#one {
  position: absolute;
  left: 20%;
  bottom: -50vh;
}
#four {
  position: absolute;
  bottom: -50vh;
  right: 30%;
  z-index: 5;
}
#five {
  position: absolute;
  right: 20%;
  bottom: -50vh;
}

.page-same {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  padding: 4vh 20vh;
}
.page-same h1 {
  font-size: 6vw;
  font-family: Gilroy-Bold;
  line-height: 10vh;
}
.page-same h3 {
  font-size: 2vw;
  font-family: Gilroy-Bold;
}
.page-same p {
  font-size: 1vw;
  font-family: Gilroy-SemiBold;
  width: 30vw;
}
.page-same .btn {
  margin-top: 3vh;
}

#page-3 {
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/deserve-more-bg.jpg");
}

#strip {
  width: 100%;
  /* height: 20vh; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10vh 20vh;
  gap: 5vh;
}
#strip h1 {
  color: black;
  font-family: Gilroy-Bold;
  font-size: 1.5vw;
}
#strip img {
  width: 100%;
  height: 100%;
}

#page-5 {
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg");
}


#page-6 {
    width: 100%;
    height: 100vh;
    background-color: #121111;
    display: flex;
    flex-direction: row;
    padding: 0vh 0vh 0vh 20vh;
}


#left {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    
} 
.scroll-text {
    position: absolute;
    bottom: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}
#left p {
    width: 90%;
}

#page-6-right {
    width: 50%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#phone {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20vw;
    height: 70vh;
    border-radius: 50px;
    border: 0.2vw solid #333;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgb(40, 37, 37);
}

#phone-img  {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 400%;
    height: 100vh;
    margin-left: 0%;
    
}
#phone-img  img {
    width: 20vw;
}
#scroll-1 {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}


#scroll-3 , #scroll-2 ,#scroll-4 {
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}


#page-7 {
  width: 100%;
  height: 50vh;
  background-image: url("/images/neopop-image-mock.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#page-8 {
  background-image: url("/images/security-bg.jpg");
}

#page-9 {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: url("/images/trust-bg.jpg");
}

#page-9 h1 {
  font-size: 3.5vw;
  line-height: 1;
}
#page-9 p {
  font-size: 1.25vw;
  /* line-height: 1; */
  font-family: Gilroy-Regular;
}


#page-10 {
  width: 100%;
  height: 100vh;
  background-color: #121111;
  padding: 10vh 20vh;
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
#rating {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2vh;
}
.left-10  {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5vh;
}
.left-10 h1{
    font-size: 10vw;
    font-family: Gilroy-bold;
}
.left-10 img{
    width: 50%;
}
.left-10 h3{
    font-size: 3vw;
    font-family: Gilroy-bold;
    line-height: -10vh;
}
.left-10 button {
  display: flex;
  padding: 2vh 5vh;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  gap: 1vh;
  cursor: pointer;
  border: 1px solid #fff;
}
.left-10 button img {
  width: 2vw;
}
.left-10 button h1 {
 font-size: 1.5vw;
}


#btm {
  width: 100%;
  height: 50%;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-part {
  width: 50vw;
  height: 30vh;
}




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


















@media (max-width: 760px) {
  #nav {
    padding: 2vh 3vh;
  }

  #page-2 {
    height: 90vh;
  }
  #page-2 img {
    height: 70vh;
  }
  #two {
    left: 27%;
  }
  #four {
    right: 27%;
  }
}

@media (max-width: 500px) {
  #page-1 {
    flex-direction: column;
    gap: 2.5vw;
    text-align: start;
    padding: 20vh 5vh;
  }
  #page-1 h1 {
    font-size: 15.8vw;
    line-height: 1;
  }
  #page-1 p {
    font-size: 3vw;
  }
  .btn {
    font-size: 4vw;
  }
  #page-2 img {
    height: 60vh;
  }
  #two {
    left: 13%;
  }
  #one {
    left: 4%;
  }
  #four {
    right: 13%;
  }
  #five {
    right: 4%;
  }
  .page-same {
    gap: 2vh;
    padding: 4vh 4vh;
  }
  .page-same h1 {
    font-size: 13vw;
    line-height: 7vh;
  }
  .page-same h3 {
    font-size: 4vw;
   
  }
  .page-same p {
    font-size: 3vw;
   
    width: 100%;
}
#strip {
    padding: 2vh 2vh;
}
#strip h1 {
    
    font-size: 3.5vw;
}
}
